<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <h1>Welcome to some thingy!</h1>
    <h2>Enter you user information</h2>
    <form action="/players/create" method="POST">
        <label for="user_name">Player Name:</label>
        <input name="user_name" type="text"> 
        <label for="user_email">Player Email:</label>
        <input name="user_email" type="text">
        <button type="submit">Create a player</button>
    </form>
</body>
</html>